<input
  type="text"
  placeholder="Enter the name"
  (input)="saveName($event)"
/><br />
<input
  type="numeric"
  placeholder="Entre the price"
  (input)="savePrice($event)"
/>
<br />
<button (click)="add()">Add New Product</button>

<table>
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let product of service.products()">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td><button (click)="remove(product.id)">Remove Product</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <td colspan="3" style="text-align: right">{{ total() }}</td>
    </tr>
  </tfoot>
</table>
