/* mat-drawer-container,
mat-drawer-content,
mat-drawer {
  height: 100vh;
}

mat-drawer-content {
  margin: 0 !important;
}

mat-drawer {
  background-color: #f5f5f5;
  width: 200px;
}
 */

mat-drawer-content,
mat-drawer {
  height: 100vh;
}

mat-drawer {
  width: 200px;
}
