<cdev-title title="Schedule" icon="schedule">
  <button mat-flat-button color="warn" (click)="openModal()">
    <mat-icon>add</mat-icon>
    Add
  </button>
</cdev-title>
<cdev-container>
  <perfect-scrollbar style="width: 100%; height: 90%">
    <cdev-schedule-list
      [items]="data"
      [metadata]="metadata"
    ></cdev-schedule-list>
  </perfect-scrollbar>
  <div>
    <cdev-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      (onChangePage)="fetchData($event)"
    ></cdev-paginator>
  </div>
</cdev-container>
